/* .value-wrapper {
    color: white;
    padding-bottom: 2rem;  
} */
.value-right{
    width: 100%;
}
.value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}
.image-container {
    width: 30rem;
    height: 35rem;
    border: 8px solid rgba(255, 255, 255, 0.12);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    overflow: hidden;
}

.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
